@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primaryDark text-secundaryDark;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .general-container-sm {
    @apply relative flex min-h-full flex-col overflow-x-hidden rounded-md bg-offWhite;
    margin: 44px auto 20px auto;
    width: 93%;
    height: 1200px;
  }
  .general-container {
    @apply relative flex min-h-full flex-col overflow-x-hidden rounded-md bg-offWhite;
    margin: 44px auto 20px auto;
    width: 93%;
    height: 1200px;
  }
  .title-container {
    @apply text-left text-2xl font-bold;
  }
  .form-container {
    @apply flex flex-col justify-center gap-2 bg-primary py-6 text-offWhite;
  }

  /*TABLES*/
  .table-os {
    @apply mx-10 table-fixed border-collapse border-y-secundary;
  }
  .row-table {
    /* @apply border border-x-0 border-y-secundary transition-colors hover:bg-secundaryDark/20; */
    @apply border border-x-0 border-y-secundary transition-colors hover:bg-primary/5;
  }
  .head-table {
    @apply bg-primary text-offWhite hover:bg-primary;
  }
  .cell-table {
    @apply p-4 text-center text-xl;
  }
  .link-details {
    @apply hover:text-primaryDark hover:decoration-primaryDark;
  }
  .profile-card {
    @apply flex min-w-fit cursor-pointer flex-col items-center justify-center rounded-sm bg-primary text-lg font-bold text-secundaryDark shadow-sm;
  }

  /*BUTTONS*/
  .base-button-lg {
    @apply rounded-md bg-primary px-6 py-4 font-bold text-white shadow outline-1 outline-offWhite;
  }
  .base-button-sm {
    @apply rounded-md bg-primary px-4 py-2 font-bold text-white shadow outline-1 outline-offWhite;
  }

  /*INPUTS AND LABELS AND OPTS*/
  .input {
    @apply w-full rounded-md bg-offWhite p-2 text-secundaryDark shadow outline-none;
  }
  .input-disabled {
    @apply w-full cursor-not-allowed rounded-md bg-offWhite/90 p-2 text-secundaryDark shadow outline-none;
  }
  .option {
    @apply bg-offWhite outline-none;
  }
}
